<!DOCTYPE html>
<html ng-app="makemybooking" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title ng-bind-template="{{pageTitle}} | {{ 'home.appName' | translate }}"></title>
    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="/angular-bootstrap-datetimepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" href="/bootstrap-table/src/bootstrap-table.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- endinject -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="navbar navbar-default navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/" class="navbar-brand">{{ 'home.appName' | translate }}{{$location.path()}}</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav" ng-show="currentRoute.$$route.originalPath != '/publicappointments/:userId'">
            <!--<li ng-class="{active: routeIs('/appointments')}" ng-show='user.isCustomer()'><a href="#/appointments" translate>{{ 'home.Appointments' | translate }}</a></li>-->

 	    <li ng-class="{active: routeIs('/appointmentsView')}" ng-show='user.isCustomer()'><a href="#/appointmentsView" translate>{{ 'home.Appointments' | translate }}</a></li>
	    <li ng-class="{active: routeIs('/resources')}" ng-show='user.isCustomer()'><a href="#/resources" translate>{{ 'home.Resources' | translate }}</a></li>
        <li ng-class="{active: routeIs('/clients')}" ng-show='user.isCustomer()'><a href="#/clients" translate>{{ 'home.Clients' | translate }}</a></li>
        <li ng-class="{active: routeIs('/activities')}" ng-show='user.isCustomer()'><a href="#/activities" translate>{{ 'home.Activities' | translate }}</a></li>
	    <li ng-class="{active: routeIs('/users')}" ng-show='user.isAdmin()'><a href="#/users" translate>{{ 'home.Users' | translate }}</a></li>
<li ng-show="user.allowsPublic"><a href="#/public" translate>{{ 'home.Public' | translate }}</a></li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
          	<li class="dropdown">
           		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<div ng-if="langKey == 'en'">{{ 'languageNames.en' | translate }} <span class="caret"></span></div>
				<div ng-if="langKey == 'ro'">{{ 'languageNames.ro' | translate }} <span class="caret"></span></div>
	   		</a>
           		<ul class="dropdown-menu" role="menu">
            			<li><a ng-click="changeLanguage('en')">{{ 'languageNames.en' | translate }}</a></li>
            			<li><a ng-click="changeLanguage('ro')">{{ 'languageNames.ro' | translate }}</a></li>
           		</ul>
           	</li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="!user.isAuthenticated && currentRoute.$$route.originalPath != '/publicappointments/:userId'">
            <li ng-class="{ active: routeIs('/login') }">
              <a href="#/login">{{ 'home.Login' | translate }}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="user.isAuthenticated && currentRoute.$$route.originalPath != '/publicappointments/:userId'">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span ng-bind="user.displayName"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="logout()">{{ 'home.Logout' | translate }}</a></li>
              </ul>
            </li>
          </ul>
 	
        </nav>
      </div>
    </header>
    <div class="container" ap-hide-flash>
      <ng-include src="'shared/flash.html'"></ng-include>
      <ng-view></ng-view>
    </div>
    <!-- inject:vendor:js -->
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/rfc6570/rfc6570.js"></script>
    <script src="/lodash/dist/lodash.compat.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>
    <script src="/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="/bootstrap-table/src/extensions/flatJSON/bootstrap-table-flatJSON.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-da-DK.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-el-GR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-hu-HU.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-en-US.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-pt-PT.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-zh-TW.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-pl-PL.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-ja-JP.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-sv-SE.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-ko-KR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-nl-NL.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-es-CR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-sk-SK.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-ru-RU.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-es-AR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-ur-PK.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-it-IT.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-pt-BR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-es-NI.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-tr-TR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-uk-UA.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-ms-MY.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-fr-FR.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-vi-VN.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-th-TH.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-cs-CZ.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-de-DE.js"></script>
    <script src="/bootstrap-table/src/locale/bootstrap-table-fr-BE.js"></script>
    <script src="/angular-translate/angular-translate.js"></script>
    <script src="/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="/angular-googleapi/src/angular-googleapi.js"></script>
    <script src="/gapi/index.js"></script>
    <script src="/checklist-model/checklist-model.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular-hal/angular-hal.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/clients/contacts.js"></script>
    <script src="/config.js"></script>
    <script src="/i18n/angular-locale_en.js"></script>
    <script src="/i18n/angular-locale_ro.js"></script>
    <script src="/makemybooking-client-templates.js"></script>
    <script src="/shared/directives.js"></script>
    <script src="/shared/flash.js"></script>
    <script src="/home/home.js"></script>
    <script src="/shared/makemybookingapi.js"></script>
    <script src="/activities/activities.js"></script>
    <script src="/appointments/appointments.js"></script>
    <script src="/appointments/appointmentsView.js"></script>
    <script src="/auth/usersession.js"></script>
    <script src="/clients/clients.js"></script>
    <script src="/public/public.js"></script>
    <script src="/publicappointments/publicappointments.js"></script>
    <script src="/resources/resources.js"></script>
    <script src="/users/users.js"></script>
    <script src="/auth/authinterceptor.js"></script>
    <script src="/auth/login.js"></script>
    <script src="/app.js"></script>
    <!-- endinject -->
  </body>
</html>
