<h2>Login</h2>
<p>
Appoints doesn't store user credentials such as usernames and passwords. It's required to use one of the providers below.
</p>
<p>
	<!--<a href="" ng-click="loginFacebook()">Login with Facebook</a><br>
	<a href="" ng-click="loginGoogle()">Login with Google</a>-->
   
</p>
<form novalidate class="simple-form">
    Username: <input type="text" ng-model="user.username" /><br />
    Password: <input type="password" ng-model="user.password" /><br />
    <input type="submit" ng-click="loginLocal(user)" value="Login" />
</form>