.flashcontainer {
  position: fixed;
  top: 5px;
  z-index: 1001;

  @media (min-width: @screen-sm-min) {
    width: @container-sm - @grid-gutter-width;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md - @grid-gutter-width;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg - @grid-gutter-width;
  }
}

.isbusy{
    background-color:orange
}
.notAccepted{
    background-color:gray
}
.iscandidate{
    background-color:yellow
}
.isbusy.iscandidate{
    background-color:red
}

.table-ultracondensed > thead > tr > th,
.table-ultracondensed > tbody > tr > th,
.table-ultracondensed > tfoot > tr > th,
.table-ultracondensed > thead > tr > td,
.table-ultracondensed > tbody > tr > td,
.table-ultracondensed > tfoot > tr > td {
  padding: 0px;
  line-height: 0.7;
}

.highlight > td:not(:first-child) {
    border-top:1px dotted #ff0000;
}
.highlighthour > td:not(:first-child) {
    border-top:1px solid #ff0000;
}